<section class="p-3 h-[100%] overflow-auto">

  <div class="flex items-center justify-center gap-2" (click)="open()">
    <h1 [ngClass]="{'link-color-no-underline': section.open}" class="text-[20px] font-semibold p-1 text-center"
        [innerHTML]="section.sectionName"></h1>
    <i *ngIf="section.open" class="pi pi-external-link link-color-no-underline"></i>
  </div>

  <app-pie-chart class="h-[95%] overflow-auto" *ngIf="section.format === 'Pie Chart' ||
   section.format =='Doughnut Chart'" [section]="section"></app-pie-chart>

  <app-line-chart class="h-[90%] overflow-auto" *ngIf="section.format === 'Line Chart'"
                  [section]="section"></app-line-chart>

  <app-linear-gauge class="h-[95%] overflow-auto" *ngIf="section.format === 'Linear Gauge'"
                    [section]="section"></app-linear-gauge>

  <app-radial-gauge  class="h-[100%] overflow-auto" *ngIf="section.format === 'Gauge'"
                    [section]="section"></app-radial-gauge>

  <app-bar-chart class="h-[100%] overflow-auto" *ngIf="section.format === 'Vertical Bar Chart'
|| section.format === 'Horizontal Bar Chart' || section.format === 'Group Horizontal Bar Chart'
|| section.format === 'Group Horizontal Bar Chart'" [section]="section"></app-bar-chart>
</section>

