<section *ngIf="section.sectionName" class="flex flex-col items-center justify-center p-2 h-[100%]">

  <div class="flex items-center justify-center gap-2" (click)="open()">
    <h1 [ngClass]="{'link-color-no-underline': section.open}" class="text-[20px] font-semibold p-1 text-center"
        [innerHTML]="section.sectionName"></h1>
    <i *ngIf="section.open" class="pi pi-external-link link-color-no-underline"></i>
  </div>

  <p class="text-[60px] text-cyan-700 font-bold p-2" [innerHTML]="count.Value"></p>
</section>
