@tailwind base;
@tailwind components;
@tailwind utilities;


gridster {
  background: whitesmoke !important;
}


.link-color {
  color: #0EA5E9 !important;
  text-decoration: underline !important;
  cursor: pointer;
  // font-weight: 500 !important;
}

.link-color-no-underline {
  color: #0EA5E9 !important;
  cursor: pointer;
  // font-weight: 500 !important;
}

.auto-height {
  height: auto;
}


// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grid-table {
  .p-datatable {
  //  margin-top: 135px !important;
  }
}

.item-center-n-relative {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
